<div class="grid sponsors-grid sponsors-grid--first sponsors-grid--cypress">
  <div class="grid-cell grid-cell--align-center">
    <h1 class="banner">Cypress Level</h1>
    <a target="_blank" href="https://www.infotechfl.com/"><img src="assets/images/sponsors/infoTech.png" alt="Info Tech"></a>
  </div>
  <div class="grid-cell grid-cell--align-center">
    <a target="_blank" href="https://feathr.co/"><img src="assets/images/sponsors/feathr.png" alt="Feathr"></a>
  </div>
  <div class="grid-cell grid-cell--align-center">
    <a target="_blank" href="http://sharpspring.com/"><img src="assets/images/sponsors/sharpSpring.png" alt="Sharpspring"></a>
  </div>
</div>
<div class="grid sponsors-grid sponsors-grid--sapling">
  <div class="grid-cell grid-cell--align-center">
    <h1 class="banner">Sapling Level</h1>
    <a target="_blank" href="https://www.fractureme.com/"><img src="assets/images/sponsors/fracture.png" alt="Fracture"></a>
  </div>
  <div class="grid-cell grid-cell--align-center">
    <a target="_blank" href="https://www.352inc.com/"><img src="assets/images/sponsors/352.png" alt="352"></a>
  </div>
</div>
<div class="grid sponsors-grid sponsors-grid--first sponsors-grid--seedling">
  <div class="grid-cell grid-cell--align-center">
    <a target="_blank" href="https://www.facebook.com/Gainesvilletechcouncil/"><img src="assets/images/sponsors/techCouncil.jpeg" alt="Gainesville Tech Council"></a>
  </div>
  <div class="grid-cell grid-cell--align-center">
    <a target="_blank" href="http://starterspace.com/"><img src="assets/images/sponsors/starterSpace.png" alt="Starter Space"></a>
  </div>
  <div class="grid-cell grid-cell--align-center">
    <a target="_blank" href="http://gainesvilledevacademy.com/"><img src="assets/images/sponsors/gda.png" alt="Gainesville Dev Academy"></a>
  </div>
</div>
<div class="grid sponsors-grid sponsors-grid--first sponsors-grid--seedling">
  <div class="grid-cell grid-cell--align-center">
    <a target="_blank" href="https://www.itpro.tv/"><img src="assets/images/sponsors/itProTv.png" alt="IT Pro TV"></a>
  </div>
  <div class="grid-cell grid-cell--align-center">
    <a target="_blank" href="http://www.bagelbakerygainesville.com/"><img src="assets/images/sponsors/bagelBakery.png" alt="Bagel Bakery"></a>
  </div>
</div>
