<div class="grid sponsors-grid sponsors-grid--cypress">
  <h1 class="banner banner--dark banner--cypress">Cypress Level</h1>
  <a target="_blank" href="https://www.infotechfl.com/"><img src="assets/images/sponsors/infotech.png" alt="Info Tech"></a>
  <a target="_blank" href="http://sharpspring.com/"><img src="assets/images/sponsors/sharpspring.png" alt="Sharpspring"></a>
</div>
<div class="grid sponsors-grid sponsors-grid--sapling">
  <h1 class="banner banner--light banner--sapling">Sapling Level</h1>
  <span class="opportunities"><a href="/contact.html">Contact us</a> for sponsorship opportunities.</span>
</div>
<div class="grid sponsors-grid sponsors-grid--seedling">
  <h1 class="banner banner--light banner--seedling">Seedling Level</h1>
  <span class="opportunities"><a href="/contact.html">Contact us</a> for sponsorship opportunities.</span>
</div>
