<!DOCTYPE html>
<html lang="en">
  @@include('_head.html', { "title": "Sessions | Gainesville BarCamp 2018" })
  <body>
    @@include('_header.html')
    <section class="content container container--small">
      <div class="copy">
        <h1 class="banner">Featured Sessions</h1>
        <p>
          The sessions to be listed below are emblematic of the types of session that
          we want to encourage. Check them out and draw inspiration for your own
          session! Remember, sessions aren't limited to just "talks," it can be
          a presentation, panel or discussion group.
        </p>
        <a href="mailto:gainesvillebarcamp@gmail.com?subject=Featured%20Speaker" class="button">Want to be a Featured Session?</a>
      </div>
      <div class="sessions-grid">
        <div class="sessions-grid-sizer"></div>
        <div class="session">
          <div class="session__speaker-image richard" title="Richard Ruth">
            <span class="banner session__banner">TECHNOLOGY/CREATIVE</span>
          </div>
          <h3 class="session__title">
            Altering Reality The Legal Way - Fun With AR
            <small class="session__speaker-name">Richard Ruth</small>
          </h3>
          <p class="session__desc">
            Augmented and virtual reality technologies are impacting every walk
            of life, from business applications to medicine to education to personal
            hobbies. What are the differences between these technologies?
            And more importantly, how can you find uses for them in your personal
            and professional life? Richard Ruth will explore these technologies
            with you and offer some fun and inspirational examples of how basic
            AR works in various application contexts and an overview of how to
            create easy AR apps with free software.
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image iryna" title="Iryna Kanishcheva">
            <span class="banner session__banner">CREATIVE</span>
          </div>
          <h3 class="session__title">
            True cost of ownership: the real price of street art
            <small class="session__speaker-name">Iryna Kanishcheva</small>
          </h3>
          <p class="session__desc">
            Many people often have no idea how much "street art" costs and often
            underestimate the cost of having graffiti/mural artists commissioned.
            At the same time, some street artworks may be overpaid or overestimated.
            What is the real price for street art and who in fact benefits from it?
            <br>
            <a href="http://kanishcheva.com/" target="_blank">Iryna Kanishcheva</a>
          </p>
        </div>
      </div>
      <!-- <div class="sessions-grid">

        <div class="sessions-grid-sizer"></div>
        <div class="session">
          <div class="session__speaker-image jessica" title="Jessica Roux">
            <span class="banner session__banner">CREATIVE</span>
          </div>
          <h3 class="session__title">
            An Illustrated Life
            <small class="session__speaker-name">Jessica Roux</small>
          </h3>
          <p class="session__desc">
            Local freelance illustrator Jessica Roux explains the importance of
            drawing what she loves, and how it has led to a successful creative career.
            Jessica's work, with a focus on flora and fauna, has appeared in the New Yorker,
            Smithsonian Magazine, The New York Times, Taproot Magazine, and many other publications.
             <br>
             <a href="https://www.jessica-roux.com/" target="_blank">Jessica Roux Illustration</a>
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image david" title="David Nordstedt">
            <span class="banner session__banner">TECHNOLOGY</span>
          </div>
          <h3 class="session__title">
            Beacons in the Wild
            <small class="session__speaker-name">David Nordstedt</small>
          </h3>
          <p class="session__desc">
            What is a Bluetooth Beacon? What is Geomarketing? Find out how you
            can create your own personal brand on the web, have others
            know when you are nearby, and do it all with technology you already own.
            Check out Google's Physical Web and Nearby service to get a head start on this talk.
            Install Chrome on your phone and enable the Physical Web under
            Privacy and Settings to have a more interactive experience.
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image iryna" title="Iryna Kanishcheva">
            <span class="banner session__banner">CREATIVE</span>
          </div>
          <h3 class="session__title">
            Murals and communities
            <small class="session__speaker-name">Iryna Kanishcheva</small>
          </h3>
          <p class="session__desc">
            Iryna Kanishcheva will be discussing her current urban art project Grove Street Neighborhood
            which brings together Gainesville residents and regional artists.
            She'll compare this effort to her work on the 352walls/The Gainesville Urban Art Initiative,
            as well as her urban art project Art United Us which is underway Ukraine.
            <br>
            <a href="http://kanishcheva.com/" target="_blank">Kanishcheva.com</a>
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image eran" title="Eran Schoellhorn">
            <span class="banner session__banner">KITCHEN SINK</span>
          </div>
          <h3 class="session__title">
            La vie sous vide
            <small class="session__speaker-name">Eran Schoellhorn</small>
          </h3>
          <p class="session__desc">
            Come along for a dive into the exciting world of cooking sous vide (under vacuum)!
            We'll explore the history of sous vide cooking techniques, the practical
            advantages, challenges, and new gadgets that make this practice
            easy and fun to integrate into your culinary routine. See you there!
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image dennis" title="Dennis Pelton">
            <span class="banner session__banner">TECHNOLOGY</span>
          </div>
          <h3 class="session__title">
            Optimizing AWS
            <small class="session__speaker-name">Dennis Pelton</small>
          </h3>
          <p class="session__desc">
            With everything moving into the cloud at such a rapid rate, how can you possibly
            know if you're actually utilizing your virtual infrastructure to its fullest potential?
            OPIE software's DevOps Architect, Dennis Pelton, will discuss how to monitor your
            cloud infrastructure and save thousands of dollars by making simple
            changes to your applications and practices using Amazon's cloud tools.
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image martin" title="Martin Smith">
            <span class="banner session__banner">TECHNOLOGY/KITCHEN SINK</span>
          </div>
          <h3 class="session__title">
            DevOps & Remote Work
            <small class="session__speaker-name">Martin Smith</small>
          </h3>
          <p class="session__desc">
            What can the latest tech industry trends teach us about working remotely?
            Can the life of a Digital Nomad offer some deeper insight into success
            in the same tech industry? Martin Smith will present what he's learned from
            traveling the world with 75 strangers for a year, working as a DevOps Engineer.
            He'll have some concrete tips & tricks, share some stories, and give you some
            concrete take ways you can use to work smarter, work remotely, and be successful.
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image aaron" title="Aaron Dixon">
            <span class="banner session__banner">TECHNOLOGY</span>
          </div>
          <h3 class="session__title">
            Blockchain - More than Bitcoin
            <small class="session__speaker-name">Aaron Dixon</small>
          </h3>
          <p class="session__desc">
            You've probably heard of Bitcoin and if so you have some knowledge of Blockchain technology.
            But is Blockchain relevant beyond Fintech and cryptocurrency?
            We will discuss the basics of Blockchain, how it is currently
            disrupting Fintech and what other industries that might be on the cusp of realizing disruption of its own.
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image matt" title="Matt Steel">
            <span class="banner session__banner">CREATIVE</span>
          </div>
          <h3 class="session__title">
            Show Your Why: How to Build a Brand that Lasts
            <small class="session__speaker-name">Matt Steel</small>
          </h3>
          <p class="session__desc">
            An introduction to what branding is, why it's crucial to start
            with your "why," and a look at our unique 5-step branding process here at <a href="https://parisleaf.com/" target="_blank">Parisleaf</a>.
          </p>
        </div>
      </div> -->
    </section>
    @@include('_sponsors-footer.html')
    @@include('_footer.html')
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <script type="text/javascript">
      var elem = document.querySelector('.sessions-grid');
      var msnry = new Masonry( elem, {
        itemSelector: '.session',
        columnWidth: '.sessions-grid-sizer',
        gutter: 0
      });
    </script>
  </body>
</html>
