<!DOCTYPE html>
<html lang="en">
  @@include('_head.html', { "title": "Sessions | Gainesville BarCamp 2018" })
  <body>
    @@include('_header.html')
    <section class="content container container--small">
      <div class="copy">
        <h1 class="banner">Featured Sessions</h1>
        <p>
          The sessions to be listed below are emblematic of the types of session that
          we want to encourage. Check them out and draw inspiration for your own
          session! Remember, sessions aren't limited to just "talks," it can be
          a presentation, panel or discussion group.
        </p>
        <a href="mailto:gainesvillebarcamp@gmail.com?subject=Featured%20Speaker" class="button">Want to be a Featured Session?</a>
      </div>
      <div class="sessions-grid">
        <div class="sessions-grid-sizer"></div>
        <div class="session">
          <div class="session__speaker-image richard" title="Richard Ruth">
            <span class="banner session__banner">TECHNOLOGY/CREATIVE</span>
          </div>
          <h3 class="session__title">
            Altering Reality The Legal Way - Fun With AR
            <small class="session__speaker-name">Richard Ruth</small>
          </h3>
          <p class="session__desc">
            Augmented and virtual reality technologies are impacting every walk
            of life, from business applications to medicine to education to personal
            hobbies. What are the differences between these technologies?
            And more importantly, how can you find uses for them in your personal
            and professional life? Richard Ruth will explore these technologies
            with you and offer some fun and inspirational examples of how basic
            AR works in various application contexts and an overview of how to
            create easy AR apps with free software.
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image iryna" title="Iryna Kanishcheva">
            <span class="banner session__banner">CREATIVE</span>
          </div>
          <h3 class="session__title">
            True cost of ownership: the real price of street art
            <small class="session__speaker-name">Iryna Kanishcheva</small>
          </h3>
          <p class="session__desc">
            Many people often have no idea how much "street art" costs and often
            underestimate the cost of having graffiti/mural artists commissioned.
            At the same time, some street artworks may be overpaid or overestimated.
            What is the real price for street art and who in fact benefits from it?
            <br>
            <a href="http://kanishcheva.com/" target="_blank">Iryna Kanishcheva</a>
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image david" title="David Nordstedt">
            <span class="banner session__banner">TECHNOLOGY</span>
          </div>
          <h3 class="session__title">
            Building an Open Internet of Things Community
            <small class="session__speaker-name">David Nordstedt</small>
          </h3>
          <p class="session__desc">
            The Things Network Gainesville is engaged in building an open network
            for Internet of Things and Smart Cities here in the Gainesville area.
            Come learn about using LoRaWAN for low-power,
            long-range sensor communication and how to get started.
            <a href="https://www.thethingsnetwork.org/community/gainesville/" target="_blank">www.thethingsnetwork.org/community/gainesville</a>
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image john" title="John Tucker">
            <span class="banner session__banner">TECHNOLOGY</span>
          </div>
          <h3 class="session__title">
             Let Us Start a Kids Code Club
            <small class="session__speaker-name">John Tucker</small>
          </h3>
          <p class="session__desc">
            With project like, ChatBot: Learn how to program your own talking
            robot!, <a href="https://www.codeclubworld.org/" target="_blank">Code Club International</a> provides ready made coding projects
            for children aged 9-13. Using low-cost Raspberry Pi computers with
            surplus keyboard, mice, and monitors, we can fill a lab for just
            several hundred dollars to teach children to code.
            The ready made topics include Scratch, HTML & CSS, Python, and physical
            computing. Looking for partners to get this off the ground.
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image jenn" title="Jenn Edge">
            <span class="banner session__banner">TECHNOLOGY/KITCHEN SINK</span>
          </div>
          <h3 class="session__title">
            Continuous Self-Improvement
            <small class="session__speaker-name">Jenn Edge</small>
          </h3>
          <p class="session__desc">
            Do you want to make a lasting change, such as learning a new
            technology or becoming a better leader? Come learn how to develop
            a better you and nudge your dreams into reality.
            We'll explore ways to achieve goals and form habits.
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image duncan" title="Duncan Kabinu">
            <span class="banner session__banner">TECHNOLOGY/KITCHEN SINK</span>
          </div>
          <h3 class="session__title">
            Overcoming Imposter Syndrome
            <small class="session__speaker-name">Duncan Kabinu</small>
          </h3>
          <p class="session__desc">
            Do you sometimes feel like a fraud? Perhaps you think that some of
            your successes are undeserved?
            Imposter syndrome makes us think irrationally about our aptitudes
            and performance. The irony is that the further you go in your career,
            the more opportunities there are for imposter syndrome to rear its ugly head.
            The bad news - it's not likely you'll ever be able to fully
            rid yourself of imposter syndrome. But the good news - there are ways
            to combat it! You can train yourself to quickly identify it, manage it,
            and live to rise again.
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image diego" title="Diego De La Hoz">
            <span class="banner session__banner">TECHNOLOGY/ENTREPRENEUR</span>
          </div>
          <h3 class="session__title">
            Doing a Startup as a College Student: Before and After Thoughts
            <small class="session__speaker-name">Diego De La Hoz</small>
          </h3>
          <p class="session__desc">
            What does starting look like as a college student?”
            This is the question that we’ll be exploring through our
            talk as we discuss the begins of Wahi Ride. What did we do
            right and what did we do wrong. The goal is to be REAL.
            If we could go back in time, should we have done it again?
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image jen-ford" title="Jen Ford">
            <span class="banner session__banner">CREATIVE</span>
          </div>
          <h3 class="session__title">
            Don't Just Make It Look Pretty
            <small class="session__speaker-name">Jen Ford</small>
          </h3>
          <p class="session__desc">
            Designers are often brought in to a project as an afterthought.
            They are often handed a bunch of finalized documents or assets and
            told to "just make it look pretty."
            Design covers a lot more than just the visual elements produced.
            Let's talk about the benefits of including
            design and creativity from the beginning of the
            process and making design a part of your overall strategy.
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image kathy" title="Kathy Sohar">
            <span class="banner session__banner">ENTREPRENEUR</span>
          </div>
          <h3 class="session__title">
            Reframing Failure
            <small class="session__speaker-name">Kathy Sohar</small>
          </h3>
          <p class="session__desc">
            Failure is traditionally perceived as a negative.
            However, it is an integral part of success.
            This session will discuss some of the ways you can better embrace
            failure to help you learn, grow and take action.
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image usha" title="Usha Suryadevara">
            <span class="banner session__banner">TECHNOLOGY</span>
          </div>
          <h3 class="session__title">
            Introduction to Serverless Architecture
            <small class="session__speaker-name">Usha Suryadevara</small>
          </h3>
          <p class="session__desc">
            Did you ever feel like you want to focus on the problem you are solving,
            not the hardware it runs on? Serverless architecture - next evolution of
            cloud computing - enables developers to express their creativity and focus on user
            needs instead of spending time managing infrastructure and servers.
            It takes away the heavy lifting of building highly available, scalable, end to end applications.
            Come learn how to do more with less, and focus on delivering creative solutions for your users!
          </p>
        </div>
      </div>
    </section>
    @@include('_sponsors-footer.html')
    @@include('_footer.html')
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <script type="text/javascript">
      var elem = document.querySelector('.sessions-grid');
      var msnry = new Masonry( elem, {
        itemSelector: '.session',
        columnWidth: '.sessions-grid-sizer',
        gutter: 0
      });
    </script>
  </body>
</html>
